<?xml version="1.0"?>
<ruleset name="WP Certification Practice">
	<description>PHP_CodeSniffer rules for the WP Certification Practice plugin.</description>

	<file>.</file>

	<exclude-pattern>*/vendor/*</exclude-pattern>
	<exclude-pattern>*/node_modules/*</exclude-pattern>

	<arg name="extensions" value="php"/>
	<arg value="sp"/>

	<rule ref="WordPress-Extra"/>
	<rule ref="WordPress-Docs"/>
	<rule ref="WordPress.WP.Capabilities">
	<properties>
		<property name="custom_capabilities" type="array">
			<element value="edit_wpcp_resources"/>
			<element value="edit_others_wpcp_resources"/>
			<element value="publish_wpcp_resources"/>
			<element value="read_private_wpcp_resources"/>
			<element value="delete_wpcp_resources"/>
			<element value="delete_private_wpcp_resources"/>
			<element value="delete_published_wpcp_resources"/>
			<element value="delete_others_wpcp_resources"/>
			<element value="edit_private_wpcp_resources"/>
			<element value="edit_published_wpcp_resources"/>
		</property>
	</properties>
</rule>
</ruleset>
